.card.card-plain img {
    border-radius: 12px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 12px 12px 0 0;
}

.space-top {
    margin-top: 30px;
}

.card.card-plain .card-body {
    padding-left: 5px;
    padding-right: 5px;
}

.card .card-body {
    padding: 20px;
}

.card .card-body .card-title {
    margin: 5px 0 0 0;
}

.card h6 {
    font-size: 12px;
    margin: 0;
}

.card .card-description {
    color: #9A9A9A;
    margin-bottom: 5px;
    margin-top: 15px;
}

.card a:not(.btn) {
    color: #444444;
}

.contactus {
	padding: 80px 0;
}

.card.card-contact .card-header {
  margin: 15px;
  border-radius: 3px;
  padding: 15px 0 0 0;
  background-color: #FFF;
  border: 0;
}
.card.card-contact .card-header .card-title {
  color: #66615B;
  margin-top: 0px;
  padding-bottom: 25px;
  border-bottom: 1px solid #DDDDDD;
}
.card.card-contact .card-body .card-icon {
  float: left;
  margin-top: 24px;
  margin-right: 10px;
  border: 0;
}
.card.card-contact .card-body .card-icon i {
  font-size: 30px;
  padding: 25px;
  width: 50px;
  border: 0;
  border-radius: 50%;
  height: 110px;
}

.info {
  padding: 30px 0 30px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}
.info .icon {
  margin-top: 0;
  font-size: 3.4em;
}
.info .icon.icon-sm {
  font-size: 1.6em;
}
.info .icon .fa {
  width: 48px;
}
.info h4,
.info .h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.info-horizontal {
  text-align: left;
  margin-top: 0;
}
.info-horizontal .icon {
  float: left;
  margin-top: 5px;
  margin-right: 20px;
  font-size: 2.5em;
}
.info-horizontal .icon .fa {
  width: 48px;
}
.info-horizontal .description {
  overflow: hidden;
}
.info-horizontal .btn {
  margin-left: -19px;
}

.contactus {
  position: relative;
}
.contactus.section-image .card-contact {
  margin-bottom: 30px;
  margin-top: 50px;
}
.contactus.section-image .title {
  margin-top: 15%;
}
.contactus .info-horizontal {
  margin-left: 0;
}
.contactus .description, .contactus .info-title {
  color: #333333 !important;
}

.footer-dark {
  background-color: #151f20;
}

.footer-dark .copyright,
.footer-dark ul a:not(.btn) {
  color: #FFFFFF !important;
}

.img {
  width: 100%;
}

.title {
  color: #403D39;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
  text-decoration: none;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}

.title-uppercase {
    text-transform: uppercase;
}

.image-thumb {
    font-size: 14px;
    color: #a49e93;
}

.label {
    padding: 0.4em 0.9em;
    border-radius: 16px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.75em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 3px;
}

.label-default {
    background-color: #66615B;
}

.btn-just-icon {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    min-width: 40px;
    padding: 8px;
}

.btn-twitter {
    color: #FFFFFF !important;
    background-color: #55acee;
    border-color: #55acee;
    opacity: 0.8;
}

.btn-facebook {
    color: #FFFFFF !important;
    background-color: #3b5998;
    border-color: #3b5998;
    opacity: 0.8;
}

.btn-google {
    color: #FFFFFF !important;
    background-color: #dd4b39;
    border-color: #dd4b39;
    opacity: 0.8;
}

.media {
    border-bottom: 1px solid rgba(164, 158, 147, 0.22);
    padding-bottom: 30px;
    margin-top: 30px;
}

.media .avatar {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
    border: 3px solid #FFFFFF;
}

.media .avatar img {
    width: 100%;
}

.media .media-heading {
    color: #403D39;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
    text-decoration: none;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}

.blog-card {
    margin-top: 25px;
    background-size: cover;
    min-height: 430px;
    width: 100%;
    margin-bottom: 25px;
}

.article-content p {
  text-align: justify;
}

.media p a {
    text-decoration: none;
    color: #000;
}
